@using static Core.UserClient.Utility.ClaimTypes
@using Microsoft.IdentityModel.JsonWebTokens
@using Core.UserClient.Policies.AdultRequirement
@using Core.UserClient.Policies.SecurityLevelRequirement

@{
    var name = User.FindFirst(JwtRegisteredClaimNames.NameId).Value;
    var securityLevel = User.FindFirst(security_level).Value;
    var dateOfBirth = User.FindFirst(JwtRegisteredClaimNames.Birthdate).Value;

    //Computing Values
    var isSecurityLevelHighest = SecurityLevelRequirement.IsHighest(securityLevel);
    bool isAdult = AdultRequirement.IsAdult(dateOfBirth);
}
<div class="container">
    <div class="panel-body" style="border: 1px dotted rgb(240 84 44); border-radius: 3px 4px">
        <h4>Hey @name!</h4>

        Welcome to the <b>dark</b> side. You can browse different jokes we have stored for you! <br />

        @{
            var adultText = isAdult ? "18+" : "not 18+";
            var contentText = isAdult ? "NSFW" : "SFW";
        }
        Since you were born on @dateOfBirth and are @adultText, you will be able to access @contentText Chuck Norris Jokes!

        @{
            var canAccessText = isSecurityLevelHighest ? "can" : "cannot";
        }
        Since your security Level is <span class="badge">@securityLevel</span>, you @canAccessText access Yo Momma Jokes! 
    </div>
</div>