@model MessageModel
@foreach (var errorMessage in Model.Errors)
{
    <br /><span class="alert-danger">@errorMessage</span>
}
<div class="container">
    <div class="panel-body" style="border: 1px dotted rgb(240 84 44); border-radius: 3px 4px">
        <i>@Model.Message</i>
    </div>
</div>